// color
.color-light-white {
  color: #f7efe6;
}
.color-light-black {
  color: #272525;
}

// Background color
.bg-red {
  background: #2e0102;
}
.bg-page {
  background: #272525 !important;
}
.bg-white {
  background: #ffffff;
}
.bg-light-black {
  background: #2f2e2e !important;
}

// Border color
.border-light-white {
  border: 1px solid #303030;
}
.border-bottom-light-white {
  border-bottom: 1px solid #ffffff66;
}

// box shadow
.box-shadow-2px {
  box-shadow: 2px 2px 6px #000000;
}
